<h1>About</h1>

<p>
  This is a very simple online auction app implemented using Ruby on Rails.
  
<p>
  It is a sample solution 
  to Assignment 1 of the 2014 summer semester offering of 2503ICT Web 
  Programming at Griffith University.
  
<p>
  Users may browse items for sale by category, search for items
  by name or description, view details of single items, and offer
  new items for sale.  Vendors are represented simplisticly by name 
  only.  There is no authentication or bidding.
  
<p>
  The solution was implemented by the teacher, Rodney Topor.
  
  