<h1>Documentation</h1>

<p>
  This is a complete implementation of the simple online auction app required 
  for 2503ICT Assignment 1.
  
<p>
  The repository is at https://bitbucket.org/rodney-topor/auction_app.
  
<p>
  To prepare the app for use, install the source code from the repository 
  and (inside the app folder) give the Rails commands
  
<pre>
bundle install
rake db:reset
rake db:populate
</pre>
  
<p>
  The path to the home page is root, /.
  
<p>
  All required features are implemented and appear to work correctly.
  
<p>
  Additional features: The category of each item is a link to all items 
  of that category, the edit page contains a link to the item details page,
  a flash is used to confirm changes,
  and lists are paginated using the gem will_paginate.

<p>
  Implementation notes: I'm not happy with the way the view show.html.erb 
  calls method category of class Item, which does a database access.  
  This doesn't belong in a view.  Headings for item lists are crude.  
  A debug information box has been retained. 

<p>
  Usability testing: A colleague was asked to test the app and noted 
  that the correct category was not shown in the edit form.  This was easily 
  corrected.  He also recommended against putting the new item form on the 
  home page which he said was already busy enough.  He said that links did not 
  stand out enough, so I made all links italic, though this might not help enough.
