<h1>Help</h1>

<p>
The root or home page shows a search form, an item list, and a link to a new item form.
  
<p>
Selecting an item name leads to an item details page.  The category name on the item details 
page is a link to all items in that category.

<p>
The search form allows users to optionally select a category and to optionally give a single term
that occurs in either item names or item descriptions.  If neither is selected, then all items are
returned.
  
<p>
The header contains a link to the home page (top left) and links to about, contact and help
pages (top right).