<% if form.errors.any? %>
  <div id="error_explanation">
    <div class="alert">
      The form contains <%= pluralize(form.errors.count, "error") %>.
      <ul>
      <% form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>