<%= form_tag items_path, method: 'get' do %>
  <p>
    <%= label_tag :query, "Search for:" %>
    <%= select_tag(:category_id, 
                   options_for_select(@category_options, selected: params[:category_id]),
                   prompt: "Category?") %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>