<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Search for items</h1>

<%= render 'query_form' %>

<h1>Items</h1>

<%= render @items %>

<p>
<%= will_paginate @items %>

<h1><%= link_to "Add new item", new_item_path %></h1>