<h1>Add new item</h1>

<%= form_for @item do |f| %>
  <%= render 'shared/error_messages', form: f.object %>

  <table>
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
 
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description %></td>
    </tr>

    <tr>
      <td><%= f.label :category_id %></td>
      <td>
        <%= f.select(:category_id, options_for_select(@category_options)) %>
      </td>
    </tr>
   
    <tr>
      <td> <%= f.label :vendor %></td>
      <td><%= f.text_field :vendor %></td>
    </tr>
  
    <tr>
      <td><%= f.label :starting_price %></td>
      <td><%= f.number_field :starting_price %></td>
    </tr>
  
    <tr>
      <td><%= f.submit "Add item" %></td>
    </tr>
  </table>
<% end %>