<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h1>Item: <%= @item.name %></h1>

<p>
<%= @item.description %>
<p>
  Category: <%= link_to @category.name, items_path(category_id: @category.id) %>
<p>
  Vendor: <%= @item.vendor %>
<p>
  Starting price: <%= @item.starting_price %>
 
<p>
<%= link_to 'Edit', edit_item_path(@item) %>
<%= link_to 'Delete', @item, method: :delete, 
                      data: { confirm: "Are you sure you  want to delete '#{@item.name}'?" } %>
