/*
 * Sample style sheet used for 2503ICT Web Programming.
 * R. Topor, 2002-2014.
 */

body { 
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-weight: normal;
  font-style: normal;
  background-color: white;
  color: black
}

h1 { font-weight: bold; color: #003399; }
h2 { font-weight: bold; color: #006666; }
h3 { font-weight: bold; color: #009933; }
h4 { font-weight: bold; font-style: italic; color: #669900; }

p { margin-left: 0em; }

table { font-family: Verdana, Arial, Helvetica, sans-serif; }
tr { background-color: white; }
th { background-color: blue; color: white; font-weight: bold; }

header {
  color: blue;
  padding-bottom: 1ex;
  border-bottom: 1px solid grey;
  margin-bottom: 0ex;
}

.header-icon {
  font-weight: bold;
}

.header-list, .footer-list {
  float: right;
}

footer {
  padding-top: 1ex;
  border-top: 1px solid grey;
  margin-top: 1ex;
}  

address { 
  margin-left: 0em; 
  font-style: italic;
} 

.address {
  margin-left: 0em;
  font-style: italic;
}

a { font-style: italic; }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration: underline; }

.alert { color: red; font-weight: bold; font-style: italic; }

.eg { 
  /* font-size: large; */
  font-family: Monaco, Courier, "Courier New", monospace;
  background-color: #FFFFE0;
  /* border-style: groove; */
  border: thin groove black;
  padding: 5px;
}

/* debug box - modified from Hartl */

.debug_dump {
  clear: both;
  float: left;
  /* width: 100%; */
  margin-top: 2ex;
  background-color: lightgrey;
  /* @include box_sizing; */
  padding: 1ex;
  border-radius: 10px;
  border: 2px solid darkgrey;
}
    
/* 
 * Useful for Chrome and Safari but not Firefox:
 * code { font-size: large; }
 * .code { font-size: large; }
 */

@media print {
  body { font-size: 12px; }
}
