<header>
  <div class="header">
    <span class="header-icon">
      <%= link_to "Auction app", root_path %> 
    </span>
    <span class="header-list">
      <%= link_to "About", about_path %>
      <%= link_to "Contact", contact_path %>
      <%= link_to "Help", help_path %>
    </span
  </div>
</header>